.whiteplan_content {
  width: 100%;
  height: 100%;
}
.canvas_calss {
  /* width: 100% !important;
  height: 100% !important; */
}
.canvas-container {
  width: 100% !important;
  height: 80% !important;
}
